body {
    margin: 0;
    padding: 0;
}

.blocks_container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.block {
    width: 98%;
    height: 49%;
}

.blocks_card {
    width: 98%;
    height: 49%;
    display: flex;
    justify-content: space-between
}

.card {
    width: 32%;
    height: 100%;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media  screen and (min-width: 100px) and (max-width: 767px) {
    .blocks_container {
        align-items: center;
    }

    .card {
        height: 96%;
    }
}